
/*------------------------------------Atributos del contenedor-----------------------------------------*/

#Contenedor1{                                   /*Seleccionamos el contenedor de ID: "Contenedor1" */
    background-color: rgb(228, 216, 255);     /*Le ponemos color al fondo*/
    padding: 50px;                              /*Le ponemos espacio interno.*/
                                                /*Para que las cosas no estén pegadas a los bordes*/
                                                /*En este caso, 50 pixeles de margen*/
}

/*------------------------------------Atributos de las filas -----------------------------------------*/

.row{
    background-color: rgb(232, 255, 250);
    padding: 15px;                          /*Podemos especificar además de el espaciado general...*/
    padding-top: 40px;                      /*Uno específico, en este casp "top" es arriba, de 40pixeles*/
    padding-bottom: 40px;                   /* "bottom"  es abajo*/

    margin: 10px;                           /* "margin" es un espacio pero por fuera*/
                                            /*A diferencia de "padding" que es espacio por dentro*/
                                            /*En este caso lo puse para separar las filas*/
}

/*------------------------------------Atributos de las columnas-----------------------------------------*/

.col-6, .col-4, .col-3{                         /*Aquí seleccionamos varias clases separadas por coma*/

    background-color: rgb(255, 243, 186);     /*Aquí le ponemos el color ✨*/
    padding-top: 20px;                          /*Espacio interno arriba de 20px*/
    padding-bottom: 20px;                       /*Espacio abajo de 20px*/

    text-align: center;             /*Todo el texto que esté dento de estas cajas: Va al centro*/
    font-size: 30px;                /*Todo el texto que esté dentro de estas cajas: Mide 30pixeles*/
    color: black;      /*Todo el texto que esté dentro de estas cajas: Es color "aliceblue" */

    /*Les vamos a poner un bordecito para que se entienda donde terminan*/
    /*Para ponerle borde necesitamos 3 atributos*/
    /*1.- Cómo se va a ver el borde, "solid" significa que es una línea normal*/
    border-style: solid;
    /*2.- El grosor de la línea, en este caso, 2 pixeles*/
    border-width: 2px;
    /*3.- El color de la línea, en este caso, le voy a poner en Hexadecimal un gris.*/
    border-color: #707070;
}

/*------------------------------------Atributos de las letras en las columnas ---------------------------------*/

    /*Específicamente los elementos de las columnas con clase ".col-4" que estén dentro de una fila #Fila2:  */
#Fila2 .col-4{
    color: rgb(68, 67, 125);        /*Que tengan su texto en azul obscuro*/
}