#BotonTitulo1{
	background-color: rgb(115, 71, 138); /*Color moradito claro*/
	color: whitesmoke; /*Letras blancas*/
}

#Cuerpo1{
	padding: 2px;						/*"Paddin" es como un margen interno.*/
	color: whitesmoke;					/*Letras blancas*/
	background-color: rgb(68, 39, 82); /*Color morado fuerte*/
}
/*----------------------------------------------------------------*/
#BotonTitulo2{
	background-color: rgb(94, 126, 165); /*Color azul claro*/
	color: #313636; /*Letras gris obscuro, escritoo en Hexadecimal*/
}

#Cuerpo2{
	padding: 2px;						
	color: whitesmoke;					/*Letras blancas*/
	background-color: rgb(44, 60, 80); /*Color azul fuerte*/
}
/*----------------------------------------------------------------*/
#BotonTitulo3{
	background-color:rgb(161, 86, 86);; /*Color rojo claro... Rosa*/
	color: whitesmoke; 					/*Letras blancas*/
}

#Cuerpo3{
	padding: 2px;						
	color: #cfecec;						/*Letras azul cielo, escrito en Hex*/
	background-color: rgb(51, 22, 22); 	/*Color rojo fuerte*/
}