/* Cosas para que funcione correctamente el header: */

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}header nav ul li {
    display: inline;
    margin-right: 20px;
}header nav ul li a {
    color: #fff;
    text-decoration: none;
}main {
    padding: 20px;
}@media screen and (max-width: 600px) {
    header {
        text-align: center;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}

/* Esta es parte del Aisde ------------------------------- */
#Aside{
    padding: 1%;

    background-color: #333333;
    color: rgb(255, 255, 255)
}
#ContenedorPrincipal{
    width: 100%;
}
#AsidePrincipal{
    background-color: aqua;
}

#Aside ol, #Aside ul{
margin: 5%;
margin-top: 6%;
margin-bottom: 6%;

}

#Aside li{
    color: rgb(255, 255, 255);
    margin-top: 6%;
    margin-bottom: 6%;
}

a {
    text-decoration: none;
    color: rgb(202, 202, 202);
    font-size: larger;
}

/* Estilo de hover para el enlace */
a:hover {
    color: rgb(255, 255, 255); /* Cambia el color al pasar el mouse */
    background-color: #333;
}

/* Esta es parte del catálogo ------------------------------ */
.Contenedor_Flex{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    padding: 20px;
    gap: 10px; /* Espacio entre tarjetas */

}

.card{
    padding: 20px;
    margin-bottom: 20px;

    width: 80%;

    border: 1px solid #333;
    border-width: 4px;
    border-style: solid;

    flex: 1 1 33%;
    display: flex;
    box-sizing: border-box;
    flex-grow: 0; /* No permitir que las tarjetas se expandan */

    justify-content: center;
    align-items: center;

}

/* Aquí inicia el diseño repsonsivo -------------------------- */

@media (max-width: 768px) {
    #Aside{
        display: none;
    }

    
}
/* Estilos para pantallas grandes (3 columnas) */
@media (min-width: 900px) {
    .card {
        flex: 0 1 calc(33.333% - 20px); /* 33.333% del ancho menos el gap */
    }
}

/* Estilos para pantallas medianas (2 columnas) */
@media (max-width: 899px) and (min-width: 600px) {
    .card {
        flex: 0 1 calc(50% - 20px); /* 50% del ancho menos el gap */
    }
}

/* Estilos para pantallas pequeñas (1 columna) */
@media (max-width: 599px) {
    .card {
        flex: 0 1 100%; /* 100% del ancho */
    }
}
@media (max-width: 330px){
    .card-text{
        display:none;
    }
    .card{
        flex: 0 0 100%;
    }
}