
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
    header {
        text-align: center;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}
/* Aquí van las configuraciones referentes a la parte derecha del contenedor principal */
#ContenedorPrincipal{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    padding: 15px;
    padding-top: 0%;
    text-align: center; 
}
.Mitad{
    flex: 1 1 50%
}
    #MitadIzquierda{
        flex: 1 1 50%;
        display: flex;

        align-items: center;
        justify-content: center;

        background-color: #f0f0f0; /*Este color lo pueden cambiar si quieren*/

        overflow: hidden; /* Ocultar cualquier desbordamiento de la imagen */
        position: relative;
    }
        #MitadIzquierda img {
            max-width: 100%;

            width: 100%;
            height: 100%;
            object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
            object-position: center; /* Centra la imagen dentro del contenedor */
        }
    #MitadDerecha{
        border-color: #6c757d;
        border-width: 5px;
        border-style: solid;

        padding: 5px;
    }
    .Elemento_Formulario{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;

        align-items: center;
        box-sizing: border-box;
        text-align: center;

        border: 1px solid #ccc;
        padding: 2px;

        background-color: #333;
        color: #ccc;
    }

        .Formulario_Label{
            flex: 1 1 30%;
            margin-right: 10px;

            height: 100%;
            min-height: 100%;
            width: 100%;
        }
        .Formulario_input{
            flex: 1 1 65%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
            textarea.Formulario_input{
                height: 100px;
                resize: vertical;
            }
        Formulario_boton{
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;
        }
            button{
                padding: 10px 20px;
                margin: 20px;

                background-color: #333;
                color: white;

                border-radius: 4px;
                border: none;
                
                cursor: pointer;
            }
                button:hover {
                    opacity: 0.9;
                }
            button[type="reset"] {
                background-color: #dc3545;
            }
                #Boton_Salir{
                    padding: 10px 20px;
                    margin: 20px;
                    background-color: #6c757d;
                    color: white;
                    border-radius: 4px;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                }
                
                #Boton_Salir:hover {
                    opacity: 0.9;
                }

/* Aquí empezamos a hacer el diseño responsivo de las páginas ------------------- */

@media (max-width: 768px) {
    #MitadIzquierda {
        display: none; /* Desaparece */
    }

    #MitadDerecha {
        flex: 1 1 100%; /* Toma el protagonismo ✨ */
        padding: 20px;
    }
}