
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
    header {
        text-align: center;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}
/* Aquí van las configuraciones referentes a la parte derecha del contenedor principal */
#ContenedorPrincipal{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    padding: 15px;
    text-align: center; 
}
.Mitad{
    flex: 1 1 50%
}
    #MitadIzquierda{
        flex: 1 1 50%;
        display: flex;

        align-items: center;
        justify-content: center;

        background-color: #f0f0f0; /*Este color lo pueden cambiar si quieren*/
    }
        #MitadIzquierda img {
            max-width: 100%;
            height: auto;
        }

    .Formulario_Elemento{
        flex: 1 1 100%;
        display: flex;

        align-items: center;
        box-sizing: border-box;
        text-align: center;

        border: 1px solid #ccc;
        padding: 2px;
    }

/* Aquí empezamos a hacer el diseño responsivo de las páginas ------------------- */

@media (max-width: 768px) {
    #MitadIzquierda {
        display: none; /* Desaparece */
    }

    #MitadDerecha {
        flex: 1 1 100%; /* Toma el protagonismo ✨ */
        padding: 20px;
    }
}