.container{
    background: rgb(219, 238, 255);
}

header{
    text-align: center;
}


#Imagen_Binomio{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.accordion-body > #Contenedor_Acordeon{
    background-color: rgb(92, 145, 114);
    color: #122b29;
}