/* Aquí van las configuraciones de toda la página 
Antes de cambiarle tamaños y todo, no hay mucho que
especificar. */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.container {
    width: 100%;
    padding: 20px;
    text-align: center;
}
/* ----------------------------------------------------- */
/* Estilo por si la página mide entre 601 y 1200 pixeles*/
@media (min-width: 601px) and (max-width: 1200px) {
    body { /*Se le pone el fondo amarillo*/
        background-color: lightyellow;
    }
    .container { /* Y la cabecera verde */
        background-color: lightgreen;
    }
}
/* ----------------------------------------------------- */
/* Estilo por si la página mide más de 1200 pixeles */
@media (min-width: 1201px) {
    body { /*Se le pone el fondo gris*/
        background-color: lightgrey;
    }
    .container { /* Y la cabecera rosa.*/
        background-color: lightpink;
    }
}