header{
    padding: 20px;
    background-color: rgb(146, 227, 255);
    color: aliceblue;
    text-align: center;
    margin-bottom: 15px;
}
#Contenedor_Formulario{
    max-width: 100%;
}

#SeccionBoton_Reiniciar, #SeccionBoton_Registrar{
text-align: center;

}
.BotonChido{
    height: 100%;
    max-height: 100%;
    background-color: rgb(225, 243, 245);       /*---- Aqu铆 se us贸 descripci贸n de color por c贸digo RGB */
    color: hsla(234, 61%, 15%, 0.916);          /*---- Aqu铆 se us贸 descripci贸n de color por porcentajes */
    padding-top: 25px;
    padding-bottom: 15px;
    width: 90%;
    
    margin-top: 20%;
    border-radius: 20px;

    font-size: xx-large;
}

#Parte_Izquierda,  #Parte_Derecha{
    padding: 20px;
}

#Parte_Izquierda{
   background-color: #3d5bf1;                   /*---- Aqu铆 se us贸 descripci贸n de color por c贸digo Hexagesimal */
}
#Parte_Derecha{
   background-color: rgb(89, 173, 188)

}

#FormularioPrincipal .row{
background-color: rgb(225, 243, 245);
margin: 10px;
color: rgb(24, 30, 103);                               /*---- Aqu铆 se us贸 descripci贸n de color por NOMBRE del clor */
font-size: large;
padding: 5px;
height: 120;
border-radius: 15px;
}
#FormularioPrincipal .row input{
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
}
#FormularioPrincipal #FilaGenero{
    width: none;
}

.Lista-Horizontal{
list-style: none;   /* Eliminar las vi帽etas */
padding: 0;         /* Eliminar el relleno */
}
.Lista-Horizontal li {
    display: inline;    /* Hacer que los elementos sean en l铆nea */
    margin-right: 10px; /* A帽adir un espacio entre los elementos (opcional) */
  }

  
/*------------------------------------ Configuraci贸n del footer -------------------------------------------*/

footer{
    background-color: rgb(15, 20, 62);
    color: aliceblue;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.ListaHorizontal{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.ListaHorizontal li{                                    /* 隆隆Selector de Descendencia!!  */
    display: inline-block;
    margin-right: 3pc;
}