.container{
    background-color: #E1F3F5;
    padding: 1pc;

}


/*Aquí va la configuración de los párragos ----------------------*/

h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
h2{
    background-color: #0E133F;
    padding: 1pc;
    border-radius: 15px;
}
.container h2{
    color: #E1F3F5;
}
.Parrafos{
    background-color: whitesmoke;
    padding: 2pc;
}